body {
  margin: 0;
  height: 100%;
  display: grid;
}

#container {
  display: grid;
  grid-template-rows: 100px 1fr 400px;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.3);
}

#background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  object-fit: cover;
}

:valid {
    border-color: blue;
}

:invalid {
    border-color: red;
}

#myImg {
    width: 200px;
}

#search {
  height: 30px;
  min-width: 600px;
  max-width: 800px;
  border-radius: 100px;
}

#myForm {
  grid-column: 2 / 3;
}

#container-top {
    width: 100%;
    display: grid;
    justify-content: end;
    grid-template-columns: 200px 1fr 110px;
    align-items: center;
    justify-items: center;
    gap: 100px;
}
#container-middle {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  gap: 300px;
}

#container-bottom {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
}

.middle-div {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 35px;
  width: 200px;
}

#temperature-div {
  color: white;
  font-size: 80px;
  text-align: end;
}

.dayText,
.maxTemp {
  color: white;
  font-size: 27px;
}

.minTemp {
  color: white;
  font-size: 18px;
}

#left-middle {
  justify-self: end;
  justify-items: end;
}

.days {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 50px 30px 50px;
  max-height: 180px;
  min-width: 100px;
}

.day-flex {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.day-icon {
  width: 80px;
}

.condition {
  color: white;
  font-size: 25px;
}

.dayIcon {
  width: 70px;
  height: 70px;
}

#location {
    z-index: 2;
}

.switch-div {
  grid-column: 3 / 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 5px;
    height: 70px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: lightblue;
    transition: .4s;
    border-radius: 50%;
    box-shadow: 0px 0px 3px 1px grey;

  }
  
  input:checked + .slider {
    background-color: white;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px white;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
