<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>
    <%= title %>
  </title>
</head>

<body>
  <header>
    <a href="/">Home</a>
    <% if (user) {%>
      <a href="/log-out">Log Out</a>
      <% } else { %>
        <a href="/sign-up">Sign Up</a>
        <a href="/sign-in">Sign In</a>
        <% } %>
  </header>
