<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <form method="POST" action="/new">
    <input name="user">
    <input name="text">
    <button type="submit">Submit</button>
  </form>

</body>

</html>
