body {
  font:
    14px "Lucida Grande",
    Helvetica,
    Arial,
    sans-serif;
}

a {
  color: #00b7ff;
}

.content {
  padding: 50px;
}

li.col {
  list-style-type: none;
  flex-grow: 0;
}

p.col {
  max-width: 50px;
}
